name: PR to Default Branch

on:
  pull_request:

jobs:
  default-branch-pr:
    if: ${{ github.event.repository.default_branch == github.event.pull_request.base.ref }}
    runs-on: ubuntu-latest
    steps:
    - name: PR to Default Branch
      run: |
        echo "This is a PR to Default Branch" >> $GITHUB_STEP_SUMMARY
        echo "${{ github.event.repository.default_branch }} -> ${{ github.event.pull_request.base.ref }}" >> $GITHUB_STEP_SUMMARY
  not-default-branch-pr:
    if: ${{ github.event.repository.default_branch != github.event.pull_request.base.ref }}
    runs-on: ubuntu-latest
    steps:
    - name: PR to Non-Default Branch
      run: |
        echo "This is a NOT a PR to Default Branch" >> $GITHUB_STEP_SUMMARY
        echo "${{ github.event.repository.default_branch }} -> ${{ github.event.pull_request.base.ref }}" >> $GITHUB_STEP_SUMMARY
